<div class="modal-wrapper" (click)="onClose()">
  <div class="content-wrapper" (click)="$event.stopPropagation()">
    <ng-content></ng-content>
  </div>
</div>

<style>
  @keyframes reduceOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .modal-wrapper {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    animation: reduceOpacity 0.3s linear;
  }
</style>
