<dialog #modalTerminator (click)="closeOnTheBackdrop($event)">
  <div class="right-block"></div>
  <div class="left-block"></div>

  <div class="title-container">
    <h2>TERMINATOR</h2>
  </div>

  <div class="emoji-container">
    <img src="images/scared-emoji.png" />
  </div>
</dialog>

<style>
  @keyframes pulseSize {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  dialog {
    /* RESET */
    background-color: transparent;
    overflow: visible;
    border: none;

    /* POSITION + STYLING */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* CRASHING BLOCK */
    [class$="block"] {
      z-index: 1;
      position: absolute;
      width: 400px;
      height: 400px;
      top: 50%;
      left: 50%;
      background-color: rgb(46, 38, 5);
      transition: transform 0.4s 1.5s
        linear(
          0,
          0.052 1.7%,
          0.445 7.8%,
          0.655 12.3%,
          0.739 14.9%,
          0.809 17.8%,
          0.865 21%,
          0.908 24.5%,
          0.939 28.3%,
          0.962 32.6%,
          0.989 43.9%,
          0.998 60.6%,
          1
        );

      &[class^="left"] {
        transform: translate(-50%, -50%);
        clip-path: polygon(
          0% 0%,
          60% 0%,
          55% 10%,
          60% 20%,
          55% 30%,
          60% 40%,
          55% 50%,
          60% 60%,
          55% 70%,
          60% 80%,
          55% 90%,
          60% 100%,
          0% 100%
        );
      }

      &[class^="right"] {
        transform: translate(-50%, -50%);
        clip-path: polygon(
          100% 0%,
          45% 0%,
          40% 10%,
          45% 20%,
          40% 30%,
          45% 40%,
          40% 50%,
          45% 60%,
          40% 70%,
          45% 80%,
          40% 90%,
          45% 100%,
          100% 100%
        );
      }
    }

    /* TITLE */
    & .title-container {
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background-image: radial-gradient(circle, red 1px, blue);
      background-clip: text;
      color: transparent;
      font-size: 30px;
      font-weight: 800;
      clip-path: inset(100% 0 0 0);

      transition: clip-path 0.4s ease-in-out 3s;
    }

    /* EMOJI */
    & .emoji-container {
      width: 200px;
      height: 200px;

      & img {
        width: 100%;
        height: 100%;
        animation: pulseSize 1s infinite linear alternate;
      }
    }

    /* BACKDROP */
    &::backdrop {
      background-image: radial-gradient(circle, red 1px, blue);
      background-size: 20px 10px;
    }

    /* TRANSITIONS */
    &,
    &::backdrop {
      transition: display 1s allow-discrete, overlay 1s allow-discrete,
        opacity 1s;
      opacity: 0;
    }

    /* FINAL STATE */
    &[open],
    &[open]::backdrop {
      opacity: 1;
    }

    &[open] {
      & .title-container {
        clip-path: inset(0 0 0 0);
      }
    }

    /* STARTING STATE*/
    @starting-style {
      &[open],
      &[open]::backdrop {
        opacity: 0;
      }

      &[open] {
        & [class^="left"] {
          transform: translate(-1000px, -50%);
        }

        & [class^="right"] {
          transform: translate(1000px, -50%);
        }

        & .title-container {
          clip-path: inset(0 100% 0 100%);
        }
      }
    }
  }
</style>
