<main>
  <h1>Easy modals</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto enim
    laborum quos officia modi autem itaque! Amet, dolore repellat adipisci
    repellendus voluptatum soluta mollitia hic ullam eos quaerat eum, architecto
    iure suscipit quas voluptas ducimus deleniti vel omnis! Quasi fuga, aliquam
    voluptatibus cupiditate quod earum, nostrum officia quas neque eaque sunt
    error. Ipsa ipsam qui quibusdam sunt earum soluta laboriosam molestias,
    atque aliquam tenetur obcaecati accusantium! Rerum harum quos nam minus.
    Eaque architecto neque ullam quibusdam fugit aliquam tempora sed accusamus
    eius iure! Laudantium pariatur vitae nesciunt fugit odio? Doloremque ullam
    cumque eius numquam, vero eveniet. Architecto ab adipisci excepturi,
    cupiditate error doloribus iste dolor fugit voluptatibus ad accusamus
    quisquam aliquam facere consequatur eveniet.
  </p>

  <div class="square-shape">
    <button (click)="displayBoredModal()">Open bored modal</button>
  </div>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi debitis
    totam optio eveniet explicabo perferendis sit. Quibusdam, blanditiis! Culpa
    sapiente dignissimos laudantium fugiat nesciunt labore voluptates nihil a
    officia nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Magni quia laborum dolor, in ab nulla labore saepe obcaecati magnam cumque
    laudantium odit aspernatur nobis ad voluptatem, debitis incidunt provident
    rerum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi dicta
    eligendi ea vero facere optio itaque dolorem. Aspernatur, similique ab
    blanditiis facilis delectus porro vitae eum amet, adipisci corporis aliquid
    suscipit quas tempore laboriosam commodi atque quasi officia fuga
    dignissimos id velit. Sit dolorem suscipit corrupti nisi quod? Magni nisi
    aspernatur esse et, hic suscipit, cumque nihil temporibus, quis repellendus
    aliquam quidem expedita tempora consectetur architecto quaerat modi atque
    culpa eum impedit animi id illum facere commodi. Laboriosam, deleniti
    adipisci nihil inventore quos ut sequi, dolorum sunt nobis alias placeat id
    quae laborum quibusdam molestias magnam distinctio? Nihil alias soluta
    eveniet sequi voluptas eligendi voluptates ex quae fugiat, sapiente id
    tenetur doloremque deleniti praesentium? Similique est numquam veniam, id
    corrupti tempore repudiandae facilis placeat praesentium totam libero nulla
    ipsa nostrum iste odio voluptas nam minus a quod dolore incidunt! Dicta
    ullam molestias magni neque consequuntur dolores? Sit cum omnis eum?
  </p>

  <h2>Second title</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maiores
    possimus doloremque enim veritatis iure, sed obcaecati, repellat, hic natus
    similique. Voluptas quia, similique animi magni dolorum nesciunt eos
    quibusdam reiciendis quidem illo. Et minima, commodi placeat aliquam facere
    architecto error ex saepe iure atque nulla earum dignissimos! Doloremque eum
    consequatur ab accusamus sapiente nobis in nostrum. Accusamus accusantium
    quasi facilis minima laboriosam soluta beatae illo dolores inventore velit.
    Magnam quidem accusamus error incidunt sint expedita sunt rem, explicabo
    porro laborum natus quam provident, laboriosam in vitae unde, et aliquid!
    Esse deserunt nesciunt aspernatur omnis. Unde corporis voluptas voluptatibus
    cumque ab qui sunt tenetur autem ipsam non, praesentium officia assumenda
    quam odio et iusto quasi? Omnis, ad porro iste minima similique sequi
    molestiae, aperiam quod placeat officiis autem illum labore eaque neque ex!
    Tenetur commodi rerum accusamus, ullam corrupti repellat eveniet iusto,
    magnam debitis, tempora quaerat. Similique est cupiditate quos.
  </p>

  <div class="circle-shape"><button>okokok</button></div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis velit dolores
    expedita repellat esse quia rem sint? At dolore minima, corporis ad sunt
    pariatur ea et nemo saepe tenetur est libero ullam, excepturi asperiores
    molestiae inventore cum distinctio iusto omnis commodi suscipit quos odit?
    Facere veritatis fugiat quis officiis suscipit! Voluptatum vero officia
    nobis eum amet. Aperiam nobis ea autem, doloribus asperiores doloremque
    tempora consequatur est earum dolor, laborum suscipit a possimus explicabo
    iure ex velit. Laboriosam, maiores perspiciatis laudantium esse perferendis
    iste dolore molestiae quae nihil veniam necessitatibus, magni consequatur
    ipsam culpa voluptatum vitae, minima possimus repellendus rerum dicta?
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in qui sed
    nisi quis rerum eligendi expedita voluptates voluptatibus excepturi repellat
    dolore aliquid, debitis molestias aspernatur consequatur numquam consectetur
    corrupti iure. Est ea autem obcaecati dolores nisi placeat modi qui!
    Consequuntur dolorem iure molestiae laborum unde. Autem dolore consectetur
    id laboriosam temporibus, veniam vero est. Nesciunt quam repellat error
    laboriosam veniam labore mollitia atque vero quos expedita. Veniam quis
    magnam aliquam ratione in! Necessitatibus illo quo cum excepturi quas
    laborum cumque quibusdam magni doloribus accusamus nam veniam culpa dolorum
    molestiae maiores, enim corrupti vero! Quia non sed molestiae veritatis fuga
    tempore quas nesciunt dolore in culpa aliquid dolorum incidunt, fugiat
    necessitatibus sunt commodi, voluptas neque! Alias veniam ipsum deleniti
    itaque in fugiat? Minima, minus explicabo. Rerum deserunt mollitia ab eaque
    labore debitis quod laborum eveniet, earum quisquam amet illum culpa,
    placeat quo sequi, similique minima odio maxime fuga fugit! Ex!
  </p>

  <h2>Third title</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus magnam
    distinctio rerum officiis esse aperiam natus ea illum dolores, aut
    perspiciatis consectetur corporis dolore hic itaque eveniet ipsam quo
    repellendus! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Consequatur voluptatibus iste cupiditate dolorem perspiciatis amet vitae
    culpa dolorum laudantium tempora ratione rerum provident delectus, quis
    neque tempore numquam deserunt quae. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Officiis consequatur voluptatibus iste repudiandae, atque
    ea neque, necessitatibus, esse enim laborum tenetur explicabo. Architecto
    quos ad sapiente maxime, repudiandae facere molestias?
  </p>

  <div class="octagon-shape"><button>okokok</button></div>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sapiente
    omnis. Consectetur ipsum aut rem, laudantium neque repellat alias asperiores
    deserunt aliquid est! Tempora vero possimus alias excepturi! Quasi, ut?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta
    numquam sint, amet veniam incidunt ad, dignissimos et unde repudiandae in
    maiores iusto blanditiis. Pariatur et rerum error minima eveniet, velit
    architecto dignissimos illo molestias quibusdam, dolorum optio natus vitae,
    ipsam voluptates nulla aliquid animi.
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus,
    maiores! Impedit pariatur odit sapiente fugit, saepe aperiam ex voluptatem
    quidem rem fuga, earum explicabo totam illo, voluptate sunt dolore veniam
    quas reprehenderit ratione magni laudantium possimus? Voluptatum modi
    perspiciatis eos molestias cum quasi excepturi officiis, quis repellat
    praesentium ipsa dignissimos aspernatur, dolorem doloribus. Ad vero nulla
    inventore recusandae reiciendis sint libero necessitatibus consectetur modi!
    Delectus praesentium porro facere doloremque deleniti quos obcaecati ipsum
    cumque quasi rerum. Officiis culpa porro, autem itaque amet similique
    voluptatum doloribus voluptates, sit cum nostrum, possimus dignissimos unde
    laudantium quidem! Natus at asperiores perferendis ab quas itaque
    repellendus harum magnam libero delectus exercitationem ullam odio,
    similique, ea atque? Deserunt qui dolor suscipit. Tempora quia vero odio
    fuga voluptatibus et distinctio quam. Eius tenetur vitae iusto voluptas,
    deleniti reprehenderit! Repellendus temporibus, quo deserunt, nisi tempora
    autem dicta magni, quae adipisci dignissimos facere recusandae perspiciatis
    provident aperiam numquam.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
    laudantium quae neque mollitia voluptas tempora doloremque earum assumenda
    expedita cum perferendis corrupti reprehenderit illum accusantium, odit
    officia excepturi. Quas sed ipsam enim illo perspiciatis nihil aut vel,
    numquam ea quod, modi eveniet debitis tempore natus repudiandae veritatis ut
    impedit fuga, suscipit quasi facilis neque nam! Commodi corrupti totam vel
    velit libero, modi excepturi reprehenderit vitae voluptatum sequi
    dignissimos minima obcaecati esse quasi cumque, sit sint?
  </p>
</main>

<!-- MODALS -->
@if(openBoredModal){
<app-easy-modal-wrapper (closeModal)="closeBoredModal()">
  <app-bored-modal (closeBoredModal)="closeBoredModal()" />
</app-easy-modal-wrapper>
}
