<h1>Easy modals</h1>

<button (click)="displayBoredModal()">Open bored modal</button>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto enim
  laborum quos officia modi autem itaque! Amet, dolore repellat adipisci
  repellendus voluptatum soluta mollitia hic ullam eos quaerat eum, architecto
  iure suscipit quas voluptas ducimus deleniti vel omnis! Quasi fuga, aliquam
  voluptatibus cupiditate quod earum, nostrum officia quas neque eaque sunt
  error. Ipsa ipsam qui quibusdam sunt earum soluta laboriosam molestias, atque
  aliquam tenetur obcaecati accusantium! Rerum harum quos nam minus. Eaque
  architecto neque ullam quibusdam fugit aliquam tempora sed accusamus eius
  iure! Laudantium pariatur vitae nesciunt fugit odio? Doloremque ullam cumque
  eius numquam, vero eveniet. Architecto ab adipisci excepturi, cupiditate error
  doloribus iste dolor fugit voluptatibus ad accusamus quisquam aliquam facere
  consequatur eveniet.
</p>

<h2>Second title</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia asperiores
  accusantium distinctio, commodi nihil cum sint nemo quam facilis, modi ducimus
  quas ipsam? Nostrum perspiciatis, optio ab reiciendis consequatur excepturi
  laboriosam, sit tenetur nesciunt veritatis voluptatum vero, quod deleniti? At
  quibusdam corporis molestias deserunt modi quidem totam ducimus libero
  reiciendis. Cumque veritatis nobis ipsum quis, odit autem ut error consectetur
  quasi illum voluptatem veniam voluptatum sequi sapiente officia! Maiores saepe
  incidunt harum inventore eos animi consequatur adipisci voluptate
  consequuntur, praesentium, aliquam quasi beatae neque, illum voluptatem quidem
  blanditiis veniam commodi sunt odit iusto? Doloremque ad minima, provident
  nemo repudiandae totam. Quia, asperiores amet? Recusandae vitae illo
  assumenda. Id magnam ab earum blanditiis nobis ex atque cupiditate,
  perspiciatis eaque saepe numquam dolorum libero qui nesciunt temporibus nemo
  corporis aut. Voluptatem veritatis quod nesciunt excepturi rem corrupti
  asperiores delectus adipisci. Qui fugit eius voluptas in laborum reprehenderit
  voluptatem quas enim, impedit corrupti?
</p>

<h2>Third title</h2>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus magnam
  distinctio rerum officiis esse aperiam natus ea illum dolores, aut
  perspiciatis consectetur corporis dolore hic itaque eveniet ipsam quo
  repellendus!
</p>

<!-- MODALS -->

@if(openBoredModal){
<app-modal-wrapper (closeModal)="closeBoredModal()">
  <app-bored-modal />
</app-modal-wrapper>
}
