main {
  max-width: 1000px;

  /* TEXT */
  & h1,
  p:has(+ h2) {
    margin-bottom: 1.5625rem;
  }

  & h2 {
    margin-bottom: 1.25rem;
  }

  & p {
    margin-bottom: 0.9375rem;
  }

  /* BUTTON */

  /* Default gradient */
  --btn-gradient: linear-gradient(45deg, #ff6a00, #ee0979);

  .modal-btn {
    &.btn-bored-1 {
      --btn-gradient: linear-gradient(45deg, #ff6a00, #ee0979);
    }

    &.btn-bored-2 {
      --btn-gradient: linear-gradient(45deg, #56799c, #4ca1af);
    }

    position: relative;
    overflow: hidden;
    background-color: black;
    padding: 3px 5px;
    border: 3px solid transparent;
    border-image-source: var(--btn-gradient);
    border-image-slice: 1;

    & span {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 900;
      font-size: 14px;
      background: var(--btn-gradient);
      background-clip: text;
      color: transparent;
    }

    /* LIGHTNING EFFECT */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(50deg, #af228716, #a6c1ee, #a6c0ee4a);
      transition: left 0.3s ease-in-out;
    }

    &:hover::before {
      left: 100%;
    }

    &:not(:hover)::before {
      opacity: 0;
    }
  }

  /* SHAPES */
  --shape-dimension: 275px;
  --border-color: rgba(55, 73, 10, 0.35);
  --border-thickness: 10px;
  --square: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  --octagon: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  --star: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  [class$="shape"] {
    position: relative;
    width: var(--shape-dimension);
    height: var(--shape-dimension);
    background: var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;
    shape-margin: 20px;
    margin: 10px;

    &[class^="square"] {
      --shape-polygon: var(--square);
      --float-position: left;
    }

    &[class^="star"] {
      --shape-polygon: var(--star);
      --float-position: right;
      width: calc(var(--shape-dimension) + 100px);
      height: calc(var(--shape-dimension) + 100px);
    }

    &[class^="octagon"] {
      --shape-polygon: var(--octagon);
      --float-position: left;
    }

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      width: calc(100% - var(--border-thickness));
      height: calc(100% - var(--border-thickness));
      background-color: var(--bg-color-body);
    }

    &,
    &::before {
      clip-path: var(--shape-polygon);
      shape-outside: var(--shape-polygon);
      float: var(--float-position);
    }
  }

  /* POSITIONNING BTN FOR SQUARE SHAPE */
  .square-shape {
    position: relative;

    & .btn-bored-1 {
      position: absolute;
      top: var(--border-thickness);
      left: var(--border-thickness);
    }

    & .btn-bored-2 {
      position: absolute;
      bottom: var(--border-thickness);
      right: var(--border-thickness);
    }
  }
}
